<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minimalista - New Amazing HTML5 Template</title>
    <link rel="stylesheet" href="./static/css/components.css">
    <link rel="stylesheet" href="./static/css/icons.css">
    <link rel="stylesheet" href="./static/css/responsee.css">
    <link rel="stylesheet" href="./static/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="./static/owl-carousel/owl.theme.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- <link rel="stylesheet" href="/static/css/lightcase.css"> -->
    <!-- CUSTOM STYLE -->      
    <link rel="stylesheet" href="./static/css/template-style.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,400,600,900&subset=latin-ext" rel="stylesheet"> 
    <script type="text/javascript" src="./static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="./static/js/jquery-ui.min.js"></script>      
  </head>

  <body class="size-1140">
  	<!-- PREMIUM FEATURES BUTTON -->
  	<!-- <a target="_blank" class="hide-s" href="../template/minimalista-premium-responsive-business-template/" style="position:fixed;top:120px;right:-14px;z-index:10;"><img src="./static/img/premium-features.png" alt=""></a> -->
    <div id="page-wrapper">
      <!-- HEADER -->
      <header role="banner" class="position-absolute margin-top-30 margin-m-top-0 margin-s-top-0">    
        <!-- Top Navigation -->
        <nav class="background-transparent background-transparent-hightlight full-width sticky">
          <div class="s-12 l-2">
            <a href="index.html" class="logo">
              <!-- Logo version before sticky nav -->
              <img class="logo-before" src="./static/img/zhaoxi.net_.png" alt="">
              <!-- Logo version after sticky nav -->
              <img class="logo-after" src="./static/img/zhaoxi.net_.png" alt="">
            </a>
          </div>
          <div class="s-12 l-10">
            <div class="top-nav right">
              <p class="nav-text"></p>
              <ul class="right chevron">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>             
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>  
        </nav>
      </header>
      
      <!-- MAIN -->
      <main role="main">
        <!-- Content -->
        <article>
          <header class="section-top-padding background-white">
            <div class="line text-center">        
              <h1 class="text-dark text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1">About Us</h1>
              <p class="margin-bottom-0 text-size-16 text-dark">Gywabi was formed in year 2016. However, most of our team members have over 10 years experience in this industry. We are a professional team of plasterers, specializing in all kinds of plastering works and metal framing works. Customer satisfaction is always our priority. We are licensed and fully insured. We guarantee premium quality on every job submission.</p>
            </div>  
          </header>
          <section class="section-top-padding background-white"> 
            <div class="line">
              <div class="margin">
                <div class="s-12 m-12 l-4 margin-m-bottom">
                  <a class="image-hover-zoom margin-bottom" href="/"><img src="./static/img/Level-5-Finish-500x330.jpg" alt=""></a>
                  <h2>Level 5 Finish</h2>
                  <p class="margin-bottom">Level 5 finish is recommended for areas where severe lighting conditions exist and areas that are to receive gloss, semi-gloss, enamel or non-textured flat paints. Level 5 requires all the operations in Level 4. Additionally, a thin skim coat of joint compound, or material manufactured especially for this purpose, is applied to the entire surface.A skim coat of joint compound is intended to conceal small imperfections in joints and on the surface of the gypsum board to help conceal joints and create the appearance of flatness. A skim coat will also smooth the texture of the paper, minimize differences in surface porosity, and create a more uniform surface to which the final decoration can be applied.
                  The Level 5 finish is required to achieve the highest degree of quality by providing a uniform surface and minimizing the possibility of joint photographing and/or fasteners showing through the final decoration.</p>                
                </div>
                <div class="s-12 m-12 l-4 margin-m-bottom">
                  <a class="image-hover-zoom margin-bottom" href="/"><img src="./static/img/flastering_finish_levels.png" alt=""></a>
                  <h2>Plaster Finishing Levels</h2>
                  <p class="margin-bottom">Level 0: Level 0 implies that no finishing of any type has been done. The drywall is only fastened to the walls or ceiling.
                  Level 1: This level means that your drywall joint tape has been embedded in joint compound, and nothing more.
                  Level 2: This next level means that you have skimmed a thin coat of joint compound over the tape and covered the drywall screw holes. You can stop at this level if you intend to cover with tile.
                  Level 3: For this stage, you apply a coat of joint compound to the tape and screws. Walls that will receive a heavy texture, such as knockdown texture, can end at this level. It would be pointless to progress beyond this level, since texturing is rougher than level 3.
                  Level 4: This is the classic drywall finish. Here, you apply another coat of joint compound to the tape and screws and sand the dried compound.
                  Level 5: The highest possible level of drywall finishing involves applying a skim coat, if applicable.</p>                 
                </div>
                <div class="s-12 m-12 l-4 margin-m-bottom">
                  <a class="image-hover-zoom margin-bottom" href="/"><img src="./static/img/img-05.jpg" alt=""></a>
                  <h2>Consequat vel illum</h2>
                  <p class="margin-bottom">Hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>                 
                </div>
              </div>
            </div>
          </section>
          <section class="section-top-padding background-white">
            <div class="line">
              <h2 class="text-s-size-40 text-size-50 text-line-height-1 margin-bottom-10 text-thin text-center"><span class="text-dark">-</span> Our Team <span class="text-dark">-</span></h2> 
              <p class="margin-bottom-50 text-center">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<br> nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              </p>  
              <div class="carousel-blocks owl-carousel">                                                                                                            
                <div class="item">                                                                                                                                                                                                     
                  <div class="padding">
                    <img class="full-img border-image border-primary" src="./static/img/team-01.jpg" alt="" title="Team" />
                    <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-0">Frank Star</h3>
                    <p class="text-size-14 text-dark margin-bottom-10">Boss</p>
                    <a target="_blank" href="https://www.facebook.com"><i class="icon-facebook_circle text-size-20"></i></a> <a target="_blank" href="https://www.twitter.com"><i class="icon-twitter_circle text-size-20"></i></a> <a target="_blank" href="https://www.google.com"><i class="icon-google_plus_circle text-size-20"></i></a>
                  </div>                                                                                                                                                              
                </div>
                <div class="item">                                                                                                                                                                                                     
                  <div class="padding">
                    <img class="full-img border-image border-primary" src="./static/img/team-02.jpg" alt="" title="Team" />
                    <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-0">Jane Naismith</h3>
                    <p class="text-size-14 text-dark margin-bottom-10">Graphic Designer</p>
                    <a target="_blank" href="https://www.facebook.com"><i class="icon-facebook_circle text-size-20"></i></a> <a target="_blank" href="https://www.google.com"><i class="icon-google_plus_circle text-size-20"></i></a>
                  </div>                                                                                                                                                              
                </div>
                <div class="item">                                                                                                                                                                                                     
                  <div class="padding">
                    <img class="full-img border-image border-primary" src="./static/img/team-03.jpg" alt="" title="Team" />
                    <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-0">Mark Stoner</h3>
                    <p class="text-size-14 text-dark margin-bottom-10">Web Developer</p>
                    <a target="_blank" href="https://www.facebook.com"><i class="icon-facebook_circle text-size-20"></i></a> <a target="_blank" href="https://www.twitter.com"><i class="icon-twitter_circle text-size-20"></i></a> <a target="_blank" href="https://www.google.com"><i class="icon-google_plus_circle text-size-20"></i></a>
                  </div>                                                                                                                                                              
                </div>                
                <div class="item">                                                                                                                                                                                                     
                  <div class="padding">
                    <img class="full-img border-image border-primary" src="./static/img/team-04.jpg" alt="" title="Team" />
                    <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-0">John Sandman</h3>
                    <p class="text-size-14 text-dark margin-bottom-10">Account Manager</p>
                    <a target="_blank" href="https://www.facebook.com"><i class="icon-facebook_circle text-size-20"></i></a> <a target="_blank" href="https://www.twitter.com"><i class="icon-twitter_circle text-size-20"></i></a> <a target="_blank" href="https://www.google.com"><i class="icon-google_plus_circle text-size-20"></i></a>
                  </div>                                                                                                                                                              
                </div>                
                <div class="item">                                                                                                                                                                                                     
                  <div class="padding">
                    <img class="full-img border-image border-primary" src="./static/img/team-05.jpg" alt="" title="Team" />
                    <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-0">Melissa Style</h3>
                    <p class="text-size-14 text-dark margin-bottom-10">Graphic Designer</p>
                    <a target="_blank" href="https://www.twitter.com"><i class="icon-twitter_circle text-size-20"></i></a> <a target="_blank" href="https://www.google.com"><i class="icon-google_plus_circle text-size-20"></i></a>
                  </div>                                                                                                                                                              
                </div>                              
              </div>                                                                                                                                                                                                                                                                                         
            </div> 
          </section>
          <section class="section background-white"> 
            <div class="line">      
              <h2 class="text-s-size-40 text-size-50 text-line-height-1 margin-bottom-10 text-thin text-center"><span class="text-dark">-</span> Our Suppliers <span class="text-dark">-</span></h2> 
              <p class="margin-bottom-50 text-center">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<br> nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              </p>                                                                                               
              <div class="margin2x">                                                                                              
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                 
                  <img class="margin-bottom-40" src="./static/img/boral.png" alt="">                                                                                                                                                         
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img class="margin-bottom-40" src="./static/img/Bunnings.jpg" alt="">                                                                                                                               
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img class="margin-bottom-40" src="./static/img/Hume.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img class="margin-bottom-40" src="./static/img/CSR.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                 
                  <img class="margin-bottom-40" src="./static/img/logo-5.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                 
                  <img class="margin-bottom-40" src="./static/img/logo-1.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img class="margin-m-bottom-40" src="./static/img/logo-2.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img class="margin-m-bottom-40" src="./static/img/logo-3.png" alt="">                                                                                                                                                            
                </div>             
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img class="margin-m-bottom-40" src="./static/img/logo-4.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img class="margin-m-bottom-40" src="./static/img/logo-1.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img class="margin-m-bottom-40" src="./static/img/logo-3.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img src="./static/img/logo-4.png" alt="">                                                                                                                                                            
                </div> 
              </div>
            </div>
          </section>
        </article>
      </main>
      
      <!-- FOOTER -->
      <footer>
        <!-- Contact Us -->
        <div class="background-dark padding text-center footer-social">
          <a class="margin-right-10" target="_blank" href="https://www.facebook.com"><i class="icon-facebook_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">FACEBOOK</span></a>
          <a class="margin-right-10" target="_blank" href="https://www.twitter.com"><i class="icon-twitter_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">TWITTER</span></a>
          <a class="margin-right-10" target="_blank" href="https://www.instagram.com"><i class="icon-instagram_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">INSTAGRAM</span></a>
          <a target="_blank" href="https://www.linkedin.com"><i class="icon-linked_in_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">LINKEDIN</span></a>                                                                         
        </div>

        <!-- Main Footer -->
        <section class="section-small-padding text-center background-dark full-width">
          <div class="line">
            <div class="margin">
              <!-- Collumn 1 -->              
              <div class="s-12 m-12 l-4 margin-m-bottom-30">
                <h3 class="text-size-16">Company Address</h3>
                <p class="text-size-14">
                   Sydney<br>
                   NSW<br> 
                   Australia
                </p>               
              </div>
              <!-- Collumn 2 -->
              <div class="s-12 m-12 l-4 margin-m-bottom-30">
                <h3 class="text-size-16">E-mail</h3>
                <p class="text-size-14">
                   chemmy@gywabi.com<br>
                </p>              
              </div>
              <!-- Collumn 3 -->
              <div class="s-12 m-12 l-4 ">
                <h3 class="text-size-16">Phone Numbers</h3>
                <p class="text-size-14">
                   0433 829 296<br>
                </p>             
              </div>
            </div>
          </div>  
        </section>
        <hr class="break margin-top-bottom-0" style="border-color: rgba(0, 0, 0, 0.80);">
        
        <!-- Bottom Footer -->
        <section class="padding background-dark full-width">
          <div class="text-center">
            <p class="text-size-12">Copyright 2020, EG Technics Design</p>
          </div>
        </section>
      </footer>
    </div>
    <script type="text/javascript" src="./static/js/responsee.js"></script>
    <script type="text/javascript" src="./static/js/jquery.events.touch.js"></script>
    <script type="text/javascript" src="./static/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="./static/js/template-scripts.js"></script> 
  </body>
</html>